#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-color: whitesmoke;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
.App{
    background-color: '#faedcd'
}

/* @font-face {
    font-family: "CormorantGaramond-Medium";
    src: local("CormorantGaramond-Medium"),
     url("./fonts/CormorantGaramond-Medium.ttf") format("truetype");
    font-weight: bold;
    } */
